# =============================
# Exemplo para uso LOCAL (sem Docker)
# =============================
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/grupoa"
DEFAULT_ADMIN_EMAIL="user@edusoft.com.br"
DEFAULT_ADMIN_PASSWORD=12345678
NODE_ENV="development"
JWT_SECRET="your_jwt_secret"
JWT_EXPIRES_IN=1d
PORT=4000

# =============================
# Exemplo para uso com DOCKER/DOCKER COMPOSE
# =============================
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=grupoa
DB_HOST=database
DB_PORT=5432
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}"
DEFAULT_ADMIN_EMAIL="user@edusoft.com.br"
DEFAULT_ADMIN_PASSWORD=12345678
NODE_ENV="development"
JWT_SECRET="your_jwt_secret"
JWT_EXPIRES_IN=1d
PORT=4000